@import '_shared';
@import '_variables';

#Filter {
	border: .1rem solid $lightGray;
	padding: 1rem;
	width: 100%;
	height: 2rem;
}

input {
	width: 15rem;
	height: 2rem;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .1rem;
	margin-left: 2rem;
}
