@import '_shared';
@import '_variables';



#Main {
	width: 90%;
	height: 100%;
	margin: 0 auto;
	padding: 2rem;
	position: relative;
}

.Main-addEmployee {
	width: 20rem;
	margin-bottom: 2rem;
}

h1 {
	font-family: 'Abril Fatface', cursive;
	color: $orange;
}
